.img_medico	 {
	/*width: 230px;
	height: 140px;*/
	border-radius: 20px;
	box-shadow: 10px 10px 20px -13px ; 
}

.img_medico_etp3 {
	width: 300px;
	height: 200px;
	border-radius: 20px;
	box-shadow: 10px 10px 20px -13px;
	margin-left:100px;
	margin-right: 60px; 
}