.bbo{
    width: 50%;
    border: none;
    outline: none;
    height: 50px;
    background: rgb(0, 204, 0);
    color: white;
    font-size: 25px;
    border-radius: 10px;
    margin-bottom: 321px;

}

.fonte {
    font-family: sans-serif;
}
.foter {
    margin-top: 100px;
}




























































